
input::-webkit-input-placeholder 
  color: #666666;
.shop-head 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  >div 
    display: flex;
    align-items: center;
    justify-content: space-between;
.shop-search 
  display: flex;
  align-items: center;
  >div 
    width: 369px;
    height: 40px;
    margin-right: 20px;
  .time-input-search 
    position: relative;
    top: 0;
    .search-left-tip
      position: absolute;
      background:#fff;
      top:0;
      z-index:1;
      color: #666;
      width: 98px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #dcdfe6;
      border-radius: 4px;
      border-top-right-radius:0;
      border-bottom-right-radius:0;
    .picker-cont 
     position: absolute;
     top:0;
     width: 257px;
     left: 97px;
     display: flex;
.shop-tables
    margin-top:20px;
.tables
    border:1px solid #ebeef5;
    width:100%;
    border-bottom:none;
    margin-bottom:20px;