body
     
    .el-tabs__item
        height 38px
        line-height 38px
        padding 0 13px
        &.is-active.is-closable
            padding-left: 13px!important;
            padding-right: 13px!important;
    .el-input-group__append
    .el-input-group__prepend
        background:transparent;
        color:#666666 !important;
    .el-range-editor.is-active
        border-color:#c0c4cc !important;
    .el-date-editor .el-range-separator
        color: #c0c4cc !important;


   
     